.h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #F5F5F5;
    margin-top: 30px;
    text-align: center;
    
    
}

.h22{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #F5F5F5;
    text-align: center;
    margin-top: 10px;
}

p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #DCDCDC;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Gemal{
    width: 500px;
    background: #1A1B21;
    display:flex;
    flex-direction: column;
    align-items: center;
}
